:root {
  font-size: 25px;
  font-family: sans-serif;
  background-color: beige;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
}

li {
  text-transform: capitalize;
}

.loading {
  opacity: 0.5;
}

.button{
  margin-right: 20px;
  color: white;
  background: rgb(3, 3, 46);
  border-radius: 5px;
  border:transparent
}